# Build flavors
build:windows-ci --client_env=CC="C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/14.32.31326/bin/Hostx64/x64/cl.exe"
build:windows-ci --client_env=CXX="C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/14.32.31326/bin/Hostx64/x64/cl.exe"
build:windows-ci --cxxopt="/std:c++17"
build:windiws-ci --enable_runfiles

# Test environment
test --test_env="GTEST_COLOR=1"
test --nocache_test_results
test --test_strategy=exclusive