name: Windows

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Setup Bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 5.2.0
      - run: bazel version

      - name: Build | All
        run: |
          bazel build @imguilib//:imgui-demo --config=windows-ci
          bazel build //:main --config=windows-ci -c dbg
          bazel build //:main --config=windows-ci -c opt

      - name: Create Artifacts
        run: .\Scripts\create_release_package_windows.ps1

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: StatikaTorzo.zip
